{% load static %}

<div class="produto-card" {% if produto.imagens.exists %}tem-hover{% endif %}>
  <div class="produto-imagem">

    <!-- imagem principal -->
    <img
      class="img-principal"
      src="{{ produto.imagem.url }}"
      alt="{{ produto.nome }}"
    >

    {% with produto.imagens.all|first as img_hover %}
      {% if img_hover %}
        <img
          class="img-hover"
          src="{{ img_hover.imagem.url }}"
          alt="{{ produto.nome }} hover"
        >
      {% endif %}
    {% endwith %}

  </div>

  <div class="produto-info">
    <h3 class="produto-nome">{{ produto.nome }}</h3>
    <p class="produto-preco">R$ {{ produto.preco }}</p>

    <a href="{% url 'detalhe_produto' produto.id produto.slug %}" class="produto-botao">
      Ver produto
    </a>
  </div>
</div>

