{% extends "base.html" %}
{% load static %}

{% block title %}Entrar | Nick Brindes{% endblock %}

{% block content %}
<div class="auth-wrapper">

  <div class="auth-container" id="auth-container">

    <!-- ===== CADASTRO ===== -->
    <div class="auth-form sign-up">
      <form method="post" action="{% url 'register' %}">
        {% csrf_token %}

        <h1>Criar conta</h1>

        <input type="email" name="email" placeholder="Email" required>
        <div class="password-field">
          <input type="password" name="password1" placeholder="Senha" required>
          <i class="ri-eye-off-fill toggle-password"></i>
        </div>
        <div class="password-field">
          <input type="password" name="password2" placeholder="Confirmar senha" required>
          <i class="ri-eye-off-fill toggle-password"></i>
        </div>



        <button type="submit">Cadastrar</button>
      </form>
    </div>

    <!-- ===== LOGIN ===== -->
    <div class="auth-form sign-in">
      <form method="post">
        {% csrf_token %}

        <h1>Entrar</h1>

        <input type="text" name="username" placeholder="Email" required>
        <div class="password-field">
          <input type="password" name="password" placeholder="Senha" required>
          <i class="ri-eye-off-fill toggle-password"></i>
        </div>

        <div class="remember-wrapper">
          <div class="remember">
              <input type="checkbox" id="remember" name="remember">
              <label for="remember">Lembre-me</label>
          </div>
          
          <a href="/esqueceu-senha">Esqueceu sua senha?</a>
        </div>


        <button type="submit">Entrar</button>

      </form>
    </div>

    <!-- ===== PAINEL DE TROCA ===== -->
    <div class="toggle-container">
      <div class="toggle">

        <!-- Painel esquerdo -->
        <div class="toggle-panel toggle-left">
          <h1>Bem-vinda de volta 💜</h1>
          <p>Já tem uma conta? Faça login para continuar</p>
          <button class="hidden" id="login">Entrar</button>
        </div>

        <!-- Painel direito -->
        <div class="toggle-panel toggle-right">
          <h1>Olá ✨</h1>
          <p>Cadastre-se e aproveite todos os produtos da loja</p>
          <button class="hidden" id="register">Cadastrar</button>
        </div>

      </div>
    </div>

  </div>
</div>
{% endblock %}