{% extends "base.html" %}

{% block title %}Nova senha | Nick Brindes{% endblock %}

{% block content %}
<div class="auth-wrapper">
  <div class="auth-container single">

    <div class="auth-form">
      <form method="post">
        {% csrf_token %}

        <h1>Criar nova senha 🔐</h1>

        <p class="auth-description">
          Crie uma senha segura para sua conta.
        </p>

        <div class="password-field">
          <input type="password" name="new_password1" placeholder="Nova senha" required>
          <i class="ri-eye-off-fill toggle-password"></i>
        </div>

        <div class="password-field">
          <input type="password" name="new_password2" placeholder="Confirmar nova senha" required>
          <i class="ri-eye-off-fill toggle-password"></i>
        </div>

        <button type="submit">
          Redefinir senha
        </button>
      </form>
    </div>

  </div>
</div>
{% endblock %}