<div class="produtos-fundo" aria-hidden="true">
  <div class="bg-emojis">
    <span data-speed="1">🎀</span>
    <span data-speed="2">🌸</span>
    <span data-speed="3">💜</span>
    <span data-speed="1.5">🩷</span>
    <span data-speed="2.5">💙</span>
    <span data-speed="3.5">✨</span>
    <span data-speed="1.2">🎀</span>
    <span data-speed="2.2">🌸</span>
    <span data-speed="3.2">💜</span>
    <span data-speed="2">🩷</span>
    <span data-speed="1.8">⭐</span>
    <span data-speed="2.8">🌷</span>
  </div>
</div>