{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Nick Brindes - Início</title>
</head>
<body>

    {% include "include/menu.html" %}

    <div class="content">
        <h1>Bem-vindo a Nick Brindes!</h1>
        <p>Explore nossa variedade de produtos personalizados, cadernetas e lembrancinhas.</p>
    </div>
    
</body>
</html>