{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block title %}Nick Brindes - Home{% endblock %}

{% block content %}

    <div class="content">

        <div class="texto-banner">
            <span class="bemvindo">Bem-vindo aos</span>
            <span class="nick">Mimos da Nick</span>
            <span class="descricao">Aqui você encontra os melhores brindes personalizados para todas as ocasiões! Como por exemplo:</span>

        <ul class="lista-produtos">
            <li>Cadernetas de vacinação personalizadas</li>
            <li>Lembrancinhas criativas</li>
            <li>Produtos exclusivos feitos sob encomenda</li>
        </ul>
        </div>
    
        <div class="botoes-home">
            <button class="produtos" onclick="window.location.href='{% url 'cadernetas' %}'">Ver Produtos</button>
            <button class="contato" onclick="window.location.href='{% url 'contato' %}'">Fale Conosco</button>
        </div>
        
        <div class="imagem-banner">    
            <img class="imagem-home" src="{% static 'imagens/imagem_home.png' %}" alt="Imagem Home">
        </div>    
    </div>

    
{% endblock %}