{% extends "base.html" %}

{% block content %}

{% include "components/checkout_etapas.html" with etapa=3 %}

<h2 class="checkout-titulo">💳 Escolha a forma de pagamento</h2>

<div class="checkout-layout">

    <!-- PAGAMENTO -->
    <div class="checkout-pagamento">
        <div class="checkout-card">
            <h3 class="checkout-card-titulo">Formas de pagamento</h3>

            <form method="post">
                {% csrf_token %}

                <label class="pagamento-opcao">
                    <input type="radio" name="forma_pagamento" value="pix" required>
                    PIX
                </label>

                <label class="pagamento-opcao">
                    <input type="radio" name="forma_pagamento" value="cartao">
                    Cartão de crédito
                </label>

                <label class="pagamento-opcao">
                    <input type="radio" name="forma_pagamento" value="boleto">
                    Boleto
                </label>

                <button type="submit" class="btn-confirmar">
                    Finalizar Pedido
                </button>

            </form>

        </div>
    </div>

</div>

{% endblock %}