.produto-container {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.produto-container .produto-descricao {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.produto-container .produto-descricao img {
    width: 600px;
    height: auto;
    margin-left: 20px;
    border-radius: 8px;
    transition: 0.3s ease;
}

.produto-container .produto-descricao img:hover {
    transform: scale(1.05);
}

.produto-container .produto-descricao .descricao {
    margin-top: 15px;
    font-size: 1em;
    color: #555;
}

.produto-container .produto-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
}

.produto-container .produto-info h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    font-weight: bold;
}

.produto-container .produto-info .preco {
    font-size: 25px;
    font-weight: bold;
}

.produto-container .produto-info .campo-nome label {
    display: flex;
    padding-bottom: 8px;
    align-items: flex-start;
}

.produto-container .produto-info .campo-nome input {
    align-items: flex-start;
    border-radius: 2px;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    width: 400px;
    border-radius: 15px;
}

.produto-container .produto-info .campo-arame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0 10px 0;
}

.produto-container .produto-info .campo-acabamentos {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.produto-container .produto-info .campo-quantidade {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.produto-container .produto-info .campo-quantidade .controle-quantidade {
    display: inline-flex;
    align-items: center;
    background-color: #ffadcc;
    border-radius: 8px;
    overflow: hidden;
}

.produto-container .produto-info .campo-quantidade button {
    background-color: #ffadcc;
    color: #fff;
    border: none;
    padding: 10px 18px;
    cursor: pointer;
    transition: 0.3s ease;
    text-align: center;
}

.produto-container .produto-info .campo-quantidade .controle-quantidade span {
    padding: 0 8px;
    color: #fff;
}

.produto-container .produto-info .adicionar-carrinho {
    padding: 12px 24px;
    background-color: #ffadcc;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

.produto-container .produto-info .adicionar-carrinho:hover {
    background-color: #ff8bb8;
    transform: scale(1.05);
}